<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias alias="UserVO" type="com.myliket.domain.UserVO"/>
 		<typeAlias alias="LoginVO" type="com.myliket.domain.LoginVO"/>
 		<typeAlias alias="TodocateVO" type="com.myliket.domain.TodocateVO"/>
 		<typeAlias alias="TodoVO" type="com.myliket.domain.TodoVO"/>
 		<typeAlias alias="TodoTotalVO" type="com.myliket.domain.TodoTotalVO"/>
 	</typeAliases>
 </configuration>